@import url(./reset.css);
html {
  --ombre: 10px 10px 30px 0px rgba(16, 16, 16, 0.15), -10px -10px 30px 0px #fff;
  --blanc: #f5f5f5;
  --bleu-fonce: #153142;
  --bleu-clair: #1a98c0;
  --red: #ff453a;
  background-color: var(--blanc);
}
